name: Main

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r lambda_handler/requirements.txt 

      - name: Test lambda_handler
        env:
          AWS_DEFAULT_REGION: us-east-1
        run: python lambda_handler/app.py
  
  deploy-infra:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          
      - name: Check Python version & path
        run: |
          python --version
          which python
          
      - name: Adjust PYTHONPATH for SAM
        run: echo "PYTHONPATH=$(which python)" >> $GITHUB_ENV

      - uses: aws-actions/setup-sam@v2

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          
      - run: sam build
        working-directory: ${{ github.workspace }}
        
      - run: sam deploy --no-confirm-changeset --no-fail-on-empty-changeset
        working-directory: ${{ github.workspace }}
